* {
  box-sizing: border-box;
}

body {
  cursor: url(./static/mole-game/cursor.png), default;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.background {
  background-image: url(./static/mole-game/background.png);
  background-repeat: no-repeat;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hole {
  background-color: black;
  border-radius: 50%;
  overflow: visible;
  width: 270px;
  height: 270px;
}

.hole-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mole {
  position: relative;
  right: 30px;
}

.hungry {
  cursor: url(./static/mole-game/cursor-worm.png), default;
}

.gone {
  display: none;
}
